includes:

    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 5

    ignoreErrors:

    excludePaths:
        analyse
            - .php-cs-fixer.php
            - _ide_helper.php
            - _ide_helper_models.php
            - vendor/*
            - ./tests/**
            - ./packages/shop/tests/**
